<!--  Replace menu links here -->
<!-- 
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li> -->
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/course_reviews.html">Courses</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/exp.html">Experiences</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/professors.html">Professors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/projects.html">Projects</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/guides.html">Guides</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/events.html">Events</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/faqs.html">FAQs</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{site.baseurl}}/feedback.html">Feedback</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{site.baseurl}}/team.html">Team</a>
</li>
</li>
<li class="nav-item">
<a class="nav-link" href="{site.baseurl}}/links.html">Links</a>
</li>
