<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Course Reviews</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Experiences</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Projects</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Guides</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Events</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">FAQs</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Grievances and Feedback</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Team<i class="fa fa-coffee text-danger"></i></a>
</li>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Important Links<i class="fa fa-coffee text-danger"></i></a>
</li>
